[user]
        name = James Morgan
        email = james.morgan.e@googlemail.com
[credential]
        helper = cache --timeout=3600
[push]
        default = simple
[core]
##	excludesfile = ~/.gitignore ## Point to your gitignore file
#	autocrlf = input
[alias]
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[color]
	ui = true
	diff = true
	branch = true
	status = true
	interactive = true                          
